In [ ]:
#mean:
def mean(values):
  return sum(values)/len(values)

In [ ]:
#variance:
def variance(values,mean):
  res=sum([(x-mean)**2 for x in values])
  return res

In [ ]:
dataset=[[1,1],[2,3],[4,3],[3,2],[5,5]]
x=[row[0] for row in dataset]
y=[row[1] for row in dataset]
mean_x,mean_y=mean(x),mean(y)
variance_x,variance_y=variance(x,mean_x),variance(y,mean_y)
print("mean x is: %.3f variance y is: %.3f"%(mean_x,variance_x))
print("mean y is: %.3f variance y is: %.3f"%(mean_y,variance_y))

mean x is: 3.000 variance y is: 10.000
mean y is: 2.800 variance y is: 8.800

In [ ]:
#covariance:
def covariance(a,mean_a,b,mean_b):
  cov=0.0
  for i in range(len(a)):
    cov=cov+((a[i]-mean_a)*(b[i]-mean_b))
  return cov

In [ ]:
cov=covariance(x,mean_x,y,mean_y)
print("covariane is: %.3f"%(cov))

covariane is: 8.000

In [ ]:
#coefficient:
b1=cov/variance_x
b0=mean_y-(b1*mean_x)
print("Coefficient b1:%.3f b0:%.3f"%(b1,b0))

Coefficient b1:0.800 b0:0.400

In [ ]:
#rmse:
from math import sqrt
def rmse_metric(actual, predicted):
	sum_error = 0.0
	for i in range(len(actual)):
		prediction_error = predicted[i] - actual[i]
		sum_error += (prediction_error ** 2)
	mean_error = sum_error /(len(actual))
	return sqrt(mean_error)

In [ ]:
#linear regression:
def simple_linear_regression(test):
	predictions = list()
	for row in test:
		yhat = b0 + (b1 * row)
		predictions.append(yhat)
	return predictions

In [ ]:
#evaluate:
def evaluate():
  train=x
  actual=y
  predicted=simple_linear_regression(x)
  print("Predicted Value is:",predicted)
  rmse=rmse_metric(y,predicted)
  print("rmse Value is:%.3f"%(rmse))

In [ ]:
evaluate()

Predicted Value is: [86714.0, 1557.2000000000003, 1052.4, 99538.0, 32095.600000000002, 45736.4, 1885.2000000000003, 1182.0000000000002, 36171.600000000006, 852.4, 416.4, 38598.8, 898.8000000000001, 1871.6000000000001, 598.8, 21.2, 19307.600000000002, 520.4, 27.6, 18490.800000000003, 491.6, 758.8000000000001, 762.0, 250.8, 23282.800000000003, 622.0, 329.2, 1678.8000000000002, 582.0, 350.8, 0.39999999999999947, 2055.6000000000004, 491.6, 432.4, 17729.2, 926.0, 48974.00000000001, 1006.8000000000001, 330.0, 1327.6000000000001, 1111.6000000000001, 48162.00000000001, 32945.200000000004, 29722.000000000004, 44130.00000000001, 3338.8, 897.2, 2234.0, 701.2, 271.59999999999997, 13714.0, 1114.8000000000002, 1065.2, 1226.0000000000002, 684.4, 23306.800000000003, 24155.600000000002, 19310.000000000004, 790.0, 24967.600000000002, 1196.4, 42595.600000000006, 20950.000000000004]
rmse Value is:24611.781

In [ ]:
import pandas as pd
df=pd.read_csv('Insurance_clean.csv',encoding="utf-8",sep=",")


df["X"] = df["X"].str.replace("\t","")
df["X"]=df["X"].astype(int)

df["X"]
df["y"]

0     5.0
1     2.0
2     7.0
3     2.0
4     4.0
     ...
58    4.0
59    8.0
60    5.0
61    6.0
62    5.0
Name: y, Length: 63, dtype: float64

In [ ]:
df["y"]=df["y"].fillna(df["y"].mean())
df.head(10)

        X         y
0  108392  5.000000
1    1946  2.000000
2    1315  7.000000
3  124422  2.000000
4   40119  4.000000
5   57170  9.000000
6    2356  9.000000
7    1477  5.000000
8   45214  5.220339
9    1065  3.000000

In [ ]:
import matplotlib.pyplot as plt
x=list(df['X'])
y=list(df['y'])
mean_x,mean_y=mean(x),mean(y)
variance_x,variance_y=variance(x,mean_x),variance(y,mean_y)
print("mean x is: %.3f variance y is: %.3f"%(mean_x,variance_x))
print("mean y is: %.3f variance y is: %.3f"%(mean_y,variance_y))

mean x is: 16438.175 variance y is: 42616339817.079
mean y is: 5.220 variance y is: 442.136